{% extends "finalproject/base.html" %}
{% load tethys_gizmos %}
{% load static %}



{% block app_content %}

<style>
.div1 {
background-color: white;
  width: 700px;
  padding: 5px;
  margin: 90px;
}
.div2 {
background-color: white;
  width: 500px;
  margin: 5px;
  height:200;
}
.div3 {
background-color: white;
  width: 400px;
  margin: 1px;
  height: 50;
}
</style>

<div  style = "background-image: url({% static 'finalproject/images/winter_route.jpg' %});">


     <CENTER> <div class="div1"><font size="7"><strong>¡¡¡Winter Route Finder App!!!</strong></font></div></CENTER>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="div3"; align="right"><font size="4"><strong>This app has been created by Sergio Barbosa</strong></font></div>

</div>



{% endblock %}


{% block app_actions %}

{% endblock %}


{% block scripts %}
  {{ block.super }}

{% endblock %}