{% extends "finalproject/base.html" %}
{% load tethys_gizmos %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'finalproject/home.css' %}">

body {
<td class="tdStyle">
}
{% block app_content %}



 <CENTER> <h1><font size="7">¡¡¡Winter Route Finder App!!!</font></h1></CENTER>

<br>     </br>

<h1>Steps to Use the App</h1>

<h2><font size="3">1. Click on the region you would like to Investigate in Columbia </br>
    2. Once in the Region, Draw a polygon around the area you would like to have more information about </br>
    3. The map below shows an example of the winter route finder </font></h2>
<br>     </br>
<br>     </br>
<br>     </br>
<br>     </br>
<br>     </br>
<br>     </br>
<br>     </br>
<br>     </br>
<br>     </br>
<p align="right"><font size="4">This app has been created by Sergio Barbosa</font></p>


{% endblock %}


{% block app_actions %}
  {% gizmo save_button %}
  {% gizmo edit_button %}
  {% gizmo remove_button %}
  {% gizmo previous_button %}
  {% gizmo next_button %}
{% endblock %}