{% extends "finalproject/base.html" %}
{% load tethys_gizmos %}
{% load static %}



{% block app_content %}

<style>
.div1 {
background-color: white;
  width: 700px;
  padding: 5px;
  margin: 20px;
}
.div2 {
background-color: white;
  width: 400px;
  margin: 5px;
  height:200;
}
.div3 {
background-color: white;
  width: 400px;
  margin: 5px;
  height:50;
}
</style>

<div  style = "background-image: url({% static 'finalproject/images/winter_route.jpg' %});">


     <CENTER> <div class="div1"><font size="7"><strong>¡¡¡Winter Route Finder App!!!</strong></font></div></CENTER>

    <br>
    <div class="div2"><font size="5"><strong>Steps to Use the App</strong></font></div>

    <div class="div2"><font size="4"><strong>1. Insert the initial point </br>
        2. Select a station to include in the route </br>
        3. Insert the final point </br>
        4. Follow the route </strong></font></div>
    <br>     </br>
    <br>     </br>
    <br>     </br>
    <br>     </br>
    <br>     </br>
    <br>     </br>
    <br>     </br>
    <br>     </br>
    <br>     </br>
    <div class="div3"; align="right"><font size="4"><strong>This app has been created by Sergio Barbosa</strong></font></div>

</div>



{% endblock %}


{% block app_actions %}

{% endblock %}


{% block scripts %}
  {{ block.super }}

{% endblock %}